.card {
    border:1px solid #333;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.header {
   padding: 15px;
   display: flex;
   flex: 1;
}

.footer {
    padding: 15px;
    display: flex;
    flex: 1;
}