@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* *:focus {
  @apply outline-1 ring-0   shadow-none rounded-md;
} */

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif, -apple-system, system-ui,
    BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  /* @apply text-white bg-zinc-800 antialiased; */
}

html.dashboard,
html.dashboard body,
html.dashboard #__next,
html.dashboard #root,
html.dashboard main,
html.dashboard .app,
html.dashboard .content {
  height: 100%;
  width: 100%;
}

main,
.app {
  display: flex;
  position: relative;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.dashboard-main {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.dashboard-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.dashboard-content .align-items-center {
  align-items: center;
}
.dashboard-form {
  /* background: #1f2a40; */
  border-radius: 15px;
  padding: 0px;
  max-width: 640px;
  align-self: center;
}

.dashboard-form form {
  padding: 50px;
}

.dashboard-form-header {
  padding: 50px 50px 0;
  border-radius: 15px 15px 0px 0px;
}

.dashboard-box {
  /* background: #1f2a40; */
  border-radius: 15px;
  padding: 0;
  align-self: center;
  display: flex;
  flex-direction: column !important;
  margin-top: 5rem;
  width: 100%;
  max-width: 640px;
  position: relative;
}
.dashboard-box.small {
  max-width: 400px;
}

.dashboard-box.medium {
  max-width: 1000px;
}
.dashboard-box.large {
  max-width: 1920px;
}

.dashboard-box-header {
  padding: 50px 50px 0;
  border-radius: 15px 15px 0px 0px;
}

.dashboard-circle-button {
  padding: 20px;
  width: 20px;
  max-width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.dashboard-speeddial .MuiSpeedDial-fab,
.dashboard-speeddial .MuiSpeedDial-fab:hover {
  background: transparent;
  box-shadow: none;
}
.dashboard-speeddial .MuiSpeedDialAction-fab {
  background: #333;
  color: #eee;
}
.dashboard-speeddial .MuiSpeedDialAction-fab:hover {
  background: #fff;
  color: #333;
}

.dashboard-circle-button .bg-color-none {
  background: transparent;
}

.dashboard-circle-button.absolute {
  position: absolute;
}

.dashboard-box-body {
  padding: 50px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dashboard-list-item {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  justify-content: space-between;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo {
  @apply cursor-pointer rounded-full transform duration-100 ease-in-out mr-2 inline-flex;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
